/* Navbar.css */
.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.navbar-logo {
    max-width: 40px;
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-color: white;
}
